.custom-wrapper-container{
  .rdw-editor-toolbar{
    background-color: #fafafa;
    margin-bottom: 0;
  }

  .custom-editor-container{
    border-bottom: 1px solid #F1F1F1;
    border-right: 1px solid #F1F1F1;
    border-left: 1px solid #F1F1F1;
    padding-left: 10px;
    padding-right: 10px;
  }
}
